body {
    background-color: #7F7F7F
}

#top-bar {
    background-color: #000000b8;
    top: 0;
    left: 0;
    position: relative;
    height: 48px;
    display: flex;
    justify-content: center;
    user-select: none;
    z-index: 1;
}

#top-bar button {
    color: white;
    background-color: #000;
    margin: 0px;
    color: #fff;
    border: none;
    padding: 0 32px;
    margin: 4px;
    margin-right: 2px;
}

#top-bar h1 {
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 48px;
    margin: 0px 8px;
    font-weight: normal;
    text-align: left;
    margin: 0px 24px;
}

#canvas-container {
    width: calc(100% - 494px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#canvas-container canvas {}

#layers button.select.active, #layers button.toggle-visible.active {
    background-color: green;
    color: white;
}

#right-side {
    height: 100%;
    width: 494px;
    background-color: #202020;
    top: 0;
    right: 0;
    position: absolute;
    box-sizing: border-box;
    user-select: none;
    z-index: 2;
}

#layers {
    width: 100%;
    overflow: hidden;
}

canvas#tile-picker {
    width: 100%;
    background-color: #202020;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

#layers div:nth-child(2n) {
    background-color: #000;
}

#layers div {
    width: 100%;
    background-color: #202020;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    color: white;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 40px;
}

#layers div p {
    padding: 0;
    margin: 0;
    width: 200px;
    text-align: left;
    line-height: 32px;
    padding: 4px;
    text-align: left;
    padding-left: 12px;
}

#layers div button {
    border: none;
    background-color: #ffffff;
    color: #000;
    font-weight: bold;
    width: 210px;
}

button:hover {
    background-color: #3f7fbf !important;
    color: white !important;
}

button:focus {
    outline: none;
}
#status-box {position: fixed;bottom: 0;z-index: 3;background-color: white;left: 0;width: 160px;}
#status-box p {font-weight: bold;font-family: sans-serif;text-align: center;font-size: 14px;padding: 0px 8px;margin: 8px;}
#status-box p#position {
    font-size: 16px;
}

#tile-ID-display {
    position: fixed;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    right: 494px;
    margin: 0;
    padding: 14px;
    top: calc(100% - 44px);
    color: black;
    background-color: white;
    z-index: 4;
}
