<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P Editor Test</title>
    <link rel="stylesheet" href="../property-editor.css">
    <style>
        body, html {
            padding: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            background-color: #777777;
        }
    </style>
</head>
<body>
    <div class="property-editor">
        <h1>Properties</h1>
        <div class="properties">
            <div class="property">
                <label for="text1">Hello, world!</label>
                <input name="text1" type="text">
            </div>

            <div class="property">
                <label for="checkbox">Checkbox</label>
                <input name="checkbox" type="checkbox">
            </div>

            <div class="property">
                <label for="number">Number</label>
                <input name="number" type="number">
            </div>

            <div class="property" >
                <label for="text2">Placeholder.</label>
                <input name="text2" type="text">
            </div>
    
            <div class="property" >
                <label for="color">Color</label>
                <input name="color"  type="color">
            </div>

            <div class="property" >
                <label for="range">Range</label>
                <input name="range" type="range">
            </div>

            <div class="property">
                <label for="text1">Hello, world!</label>
                <input name="text1" type="text">
            </div>

            <div class="property">
                <label for="checkbox">Checkbox</label>
                <input name="checkbox" type="checkbox">
            </div>

            <div class="property">
                <label for="number">Number</label>
                <input name="number" type="number">
            </div>

            <div class="property" >
                <label for="text2">Placeholder.</label>
                <input name="text2" type="text">
            </div>
    
            <div class="property" >
                <label for="color">Color</label>
                <input name="color"  type="color">
            </div>

            <div class="property" >
                <label for="range">Range</label>
                <input name="range" type="range">
            </div>
        </div>
    </div>
</body>
</html>